M04A_Lenguaes_de_marcas/Actividad02/Validado DTD/vehiculos.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT vehiculos (vehiculo+)>
<!ELEMENT vehiculo (marca,modelo,matricula,puertas,foto,color,tipo,precio,comentario)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT puertas (#PCDATA)>
<!ELEMENT foto (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT comentario (#PCDATA)>
